.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App-title {
  width: 100%;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: aquamarine;
}